@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  font-family: Amarante, serif;
}

 body{
  background-color: black ;
 }
